<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lista d chamada teste jinja</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/styles.css') }}">
</head>
<body>
    <h1 class="titulo">LISTA DE CHAMADA</h1>
    <form method="post" action="/">
        <input class="entrada" type="text" name="nome" placeholder="Digite um nome" required>
        <button class="botao" type="submit">Adicionar</button>
    </form>
    
    <ul class="lista">
        {% for chave,valor in context.items() %}
            <li>{{ valor }}</li>
        {% endfor %}

    </ul>
</body>
</html>